<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="spot_ros2_control" params="name initial_positions_file ros2_control_hardware_type">
        <xacro:arg name="kinematic_model" default="none"/>
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${ros2_control_hardware_type == 'mock_components'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${ros2_control_hardware_type == 'isaac'}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/isaac_joint_commands</param>
                    <param name="joint_states_topic">/isaac_joint_states</param>
                </xacro:if>
            </hardware>

            <!-- Controlled joints -->
            <xacro:macro name="AddControlledJoint" params="joint_name">
                <joint name="${joint_name}">
                    <command_interface name="position"/>
                    <state_interface name="position">
                        <param name="initial_value">${initial_positions[joint_name]}</param>
                    </state_interface>
                    <state_interface name="velocity"/>"
                </joint>
            </xacro:macro>

            <xacro:if value="${kinematic_model == 'body_assist'}">
                <xacro:AddControlledJoint joint_name="body_height_joint"/>
                <xacro:AddControlledJoint joint_name="body_yaw_joint"/>
                <xacro:AddControlledJoint joint_name="body_pitch_joint"/>
                <xacro:AddControlledJoint joint_name="body_roll_joint"/>
            </xacro:if>
            <xacro:AddControlledJoint joint_name="arm0_shoulder_yaw"/>
            <xacro:AddControlledJoint joint_name="arm0_shoulder_pitch"/>
            <xacro:AddControlledJoint joint_name="arm0_elbow_pitch"/>
            <xacro:AddControlledJoint joint_name="arm0_elbow_roll"/>
            <xacro:AddControlledJoint joint_name="arm0_wrist_pitch"/>
            <xacro:AddControlledJoint joint_name="arm0_wrist_roll"/>

            <!-- Non-controlled joints -->
            <xacro:macro name="AddNonControlledJoint" params="joint_name">
                <joint name="${joint_name}">
                    <state_interface name="position">
                        <param name="initial_value">${initial_positions[joint_name]}</param>
                    </state_interface>
                    <state_interface name="velocity"/>"
                </joint>
            </xacro:macro>

            <xacro:AddNonControlledJoint joint_name="front_left_hip_x"/>
            <xacro:AddNonControlledJoint joint_name="front_left_hip_y"/>
            <xacro:AddNonControlledJoint joint_name="front_left_knee"/>
            <xacro:AddNonControlledJoint joint_name="front_right_hip_x"/>
            <xacro:AddNonControlledJoint joint_name="front_right_hip_y"/>
            <xacro:AddNonControlledJoint joint_name="front_right_knee"/>
            <xacro:AddNonControlledJoint joint_name="rear_left_hip_x"/>
            <xacro:AddNonControlledJoint joint_name="rear_left_hip_y"/>
            <xacro:AddNonControlledJoint joint_name="rear_left_knee"/>
            <xacro:AddNonControlledJoint joint_name="rear_right_hip_x"/>
            <xacro:AddNonControlledJoint joint_name="rear_right_hip_y"/>
            <xacro:AddNonControlledJoint joint_name="rear_right_knee"/>
            <xacro:AddNonControlledJoint joint_name="arm0_fingers"/>
        </ros2_control>
    </xacro:macro>
</robot>
